In [1]:
import pandas as pd

In [2]:
pd.read_parquet("net-test.parquet")

,a_timestamp,b_num_flows,c_num_nodes,d_num_host_nodes,e_num_active_host_nodes,f_avrg_tput_ratio,g_tot_tput_ratio,h_curr_pwr_use_KW,i_avrg_pwr_use_KW,l_tot_en_consumed_KWh
0,2013-08-12 13:40:46+00:00,73,209,128,80,1.000000,1.000000,5.422007,0.000000,0.000000
1,2013-08-12 13:45:46+00:00,73,209,128,80,1.000000,1.000000,5.422165,5.422007,0.451834
2,2013-08-12 13:50:46+00:00,75,209,128,80,0.989853,0.395572,5.426470,5.422086,0.903681
3,2013-08-12 13:55:46+00:00,81,209,128,80,0.992174,0.531426,5.425513,5.423547,1.355887
4,2013-08-12 14:00:46+00:00,78,209,128,80,1.000000,1.000000,5.422432,5.424039,1.808013
...,...,...,...,...,...,...,...,...,...,...
28303,2013-09-11 13:36:15+00:00,77,209,128,80,1.000000,1.000000,5.423779,5.424687,3905.366536
28304,2013-09-11 13:37:20+00:00,77,209,128,80,1.000000,1.000000,5.423779,5.424687,3905.464465
28305,2013-09-11 13:38:12+00:00,77,209,128,80,1.000000,1.000000,5.423779,5.424687,3905.542809
28306,2013-09-11 13:38:41+00:00,77,209,128,80,1.000000,1.000000,5.423779,5.424687,3905.586500
28307,2013-09-11 13:39:58+00:00,82,209,128,80,1.000000,1.000000,5.423949,5.424687,3905.702509

In [3]:

pd.read_parquet("node-test.parquet")

,b_node_id,a_timestamp,c_node_name,d_num_incoming_flows,e_num_outgoing_flows,f_num_flows_being_generated,g_num_flows_being_consumed,h_curr_min_flow_throughput_ratio,i_curr_max_flow_throughput_ratio,l_curr_average_flow_throughput_ratio,m_curr_throughput_among_all_flows_Mbps,n_curr_throughput_among_all_flows_ratio,o_curr_pwr_use_Watts,p_avrg_pwr_use_over_time_Watts,q_tot_energy_consumption_Wh
0,0,2013-08-12 13:40:46+00:00,unknown,1,1,1,1,1.0,1.0,1.0,0.016667,1.0,0.00000,0.000000,0.000000
1,1,2013-08-12 13:40:46+00:00,unknown,0,0,1,1,0.0,0.0,NaN,0.000000,NaN,0.00000,0.000000,0.000000
2,2,2013-08-12 13:40:46+00:00,unknown,1,1,1,1,1.0,1.0,1.0,0.064062,1.0,0.00000,0.000000,0.000000
3,3,2013-08-12 13:40:46+00:00,unknown,0,0,1,1,0.0,0.0,NaN,0.000000,NaN,0.00000,0.000000,0.000000
4,4,2013-08-12 13:40:46+00:00,unknown,0,0,1,1,0.0,0.0,NaN,0.000000,NaN,0.00000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5916367,204,2013-09-11 13:39:58+00:00,unknown,82,82,0,0,1.0,1.0,1.0,0.082892,1.0,67.82497,67.857408,48856.429275
5916368,205,2013-09-11 13:39:58+00:00,unknown,82,82,0,0,1.0,1.0,1.0,0.082892,1.0,67.82497,67.857485,48856.484119
5916369,206,2013-09-11 13:39:58+00:00,unknown,82,82,0,0,1.0,1.0,1.0,0.082892,1.0,67.82497,67.857468,48856.472546
5916370,207,2013-09-11 13:39:58+00:00,unknown,82,82,0,0,1.0,1.0,1.0,0.082892,1.0,67.82497,67.857471,48856.474295
5916371,-9223372036854775808,2013-09-11 13:39:58+00:00,unknown,32,32,80,80,1.0,1.0,1.0,0.738402,1.0,0.00000,0.000000,0.000000